<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011266195859-3it5il8q0u8h1n183fhlioeui7mkvt55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011266195859-3it5il8q0u8h1n183fhlioeui7mkvt55</string>
	<key>API_KEY</key>
	<string>AIzaSyAfHmVusqqTn_tTpDfetuPZIFvrL52p6BE</string>
	<key>GCM_SENDER_ID</key>
	<string>1011266195859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.payami.app</string>
	<key>PROJECT_ID</key>
	<string>arnew-c5b73</string>
	<key>STORAGE_BUCKET</key>
	<string>arnew-c5b73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011266195859:ios:502410318746ae4b</string>
	<key>DATABASE_URL</key>
	<string>https://arnew-c5b73.firebaseio.com</string>
</dict>
</plist>